@import './variables';


/*페이지 레이아웃*/
.storeLayout{
	max-width:960px;
    margin:50px auto 300px auto;
    background: $bmBeigeColor;
}

.menuReviewWrap{
    border:1px solid #cccccc;
}
/*페이지 레이아웃 끝*/


/* 모바일 전용 타이틀 영역 */
.mobileTitleArea {
    height:90px; background:#fff; border-bottom:1px solid #cccccc; display: none;
    padding: 20px;
}
.mobileTitleImg {
    background-image: url('https://img.woowahan.com/www/common/logo-bm-v2.png');background-repeat: no-repeat; width:196px; height:45px; margin:0 auto;
    cursor: pointer;
}
.mobileTitleButton {
    width:22px;
    height: 22px;
    background-image: url("https://img.woowahan.com/www/common/ico-cate.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% 200%;
    -webkit-background-size: 100% 200%;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 10px;
}
.mobileTitleButton.unfolded {
    background-position: 0 100%;

}

.mobileCategory {
    background: #000;
    padding:15px;
    display: none;
}

.mobileCategorySearch input{
    width: 100%;
    background: #393939;
    border-color: #393939;
    color: #555;
    text-indent: 20px;
}
.mobileCategory * {
    text-align: center;
    color: #fff;
}

.mobileCategory .col-xs-4 {
    padding: 15px 0px;
    cursor: pointer;

}
.mobileCategory .col-xs-4:hover {
    background: $bmOrangeColor;
}

/* 가게명 AREA*/
.storeTitleArea{
    height:65px; background: #fff; overflow: auto;padding:20px; border:1px solid #dad3c7
}
.storeTitleLabel{padding:3px 5px 3px 5px; background: #877b63; color:#fff}

.storeTitle {
    font-size:15px;
}
.storeAddress{
    font-size: 11px;
}
.storeStars{
    font-size: 11px;
    margin-top:5px
}
/* 메뉴 탭 관련 */

.menuTabContent {
    background: #fff;
    padding-bottom: 80px;
}

/* 먹깨비 탭 관련 */
.mkbTabContent{
    background:#fff;
}
/* 폴더블메뉴 */
.menuTabGraph {
    width: 100%;
    padding-bottom: 100px;
    padding-top:100px;
    position:relative;
}

.foldableLevel1 {
    background-color: #817c74;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-bottom: 1px solid #cccccc;
}

.foldableLevel1.active {
    background-color: black;
    clear: both;
}

.foldableLevel1 h6, p {
    padding: 0;
    margin: 0;
}

.foldableLevel1 p {
    font-size: 11px;
}

.foldableLevel2 {
    padding: 0;
    background-color: #fff;
    max-height: 0px;
    height: auto;
    transition: all 0.25s ease-in-out;
    overflow: hidden;
}

.foldableLevel2 .foldableLevel1 {
    background: #fff;
    color: black;
}

.foldableLevel2 .foldableLevel1.active {
    background: #fff;
    color: black;
}

.menuTabContent * {
    clear: both;
}



/* 업소상세 박스 */

@media screen and (max-width:768px){
    .storeSideAreaWrap {
        /*display: none;*/
        float: none;
        clear: both;
        width: 100%;
        margin-bottom:20px;
    }

    .tabAreaWrap {
        width: 100%;
    }

    .storeTitleArea{
        height:105px;
    }
    .storeTitleArea>.float-left, .storeTitleArea>.float-right {
        float:none;
        margin-left:0;
    }

    .mobileTitleArea {
        display: block!important;
    }

    .header{
        display: none;
    }
    .blackMenuArea {
        display: none;
    }
    .storeStars{
        margin-top: 0;
    }

}






.storeDetailTable table {
    font-size: 11px;

}

.storeDetailHead{
    border: 1px solid #cccccc;
    padding:15px;
    font-size:11px;
    font-weight:bold;
    background: #fff;
}


.storeDetailTable {
    background: #fff;
}

.storeDetailTable {
    padding: 10px;
    border-color: #cccccc;
    border-style: solid;
    border-width: 0px 1px 1px 1px;
}




.storeDetailTable tr {
    border-bottom: 10px solid transparent;
}
.storeDetailTableLeft {
    width: 30%
}

.storeDetailTableRight {
    width: 70%
}

/* 주문하기 박스 */
.storeCart {
    border:1px solid #cccccc;
    margin-top:20px;
    background: #fff;
    transition: all 1s ease-in-out;
}
.storeCartHead{
    padding:10px;
    border-bottom:1px solid #cccccc;
}
.storeCartContent {
    padding:10px;
    border-bottom:1px solid #cccccc;
}
.storeCartTotal{
    padding:10px;
}
.cartOrderButton {
    background: $bmOrangeColor;
    font-size:30px;
    padding:20px;
    color: #fff;
    text-align: center;
    font-weight: normal;
    cursor: pointer;
}

/* 리뷰 탭 관련 */
#reviewTextInput {
	width:100%; 
	height:100px;
	resize: none;
}

.reviewTabContent {
    background: #fff;
}
.reviewCard {
    padding: 15px;
    display: flex;
    align-items: flex-start;
    background: #fff;
}

.reviewCardPic {
    background-image: url("http://file.smartbaedal.com/usr/memphoto/ownerImg.png");
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 65px;
    height: 65px;
    float: left;
}

.reviewCardContent {
    max-width: 580px;
    float: left;
}

.reviewCardBtm {
    font-size: 11px;
}

.reviewCardMid {
    clear: both;
}

.reviewCardTop > span {
    font-size: 11px;
    color: #8a8b8f;
}

.reviewCardStar {
    color: $bmOrangeColor;
}

.reviewCardId {
    font-size: 12px;
    color: #222;
}

.reviewCardDate {
    font-size: 11px;
    color: #8a8b8f;
}

.reviewCardBtm {
    clear: both;
    width: 100%;
}

.competition-podium {
    height: 250px;
    position: relative;
    width: 350px;
    top: 100px;
    background: #f6f3ed;
    margin:100px auto;
}

.competition-podium .podium-block {
    width: 110px;
    text-align: left;
    display: inline-block;
    position: absolute;
    bottom: 0;
}

.competition-podium .podium-block .place {
    font-size: 1em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 15px;
}

.competition-podium .podium-block .sum {
    font-size: 1.2em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 70px;
}

.competition-podium .podium-block.bronze {
    color: #e6d6bf;
    left: 230px;
}

.competition-podium .podium-block.bronze .podium {
    background: #e6d6bf;
    height: 0px;
}

.competition-podium .podium-block.bronze .orders {
    text-align: center
}

.competition-podium .podium-block.bronze .name {
    color: #856e4e;
    text-align: center
}

.competition-podium .podium-block.gold {
    color: #ead679;
    left: 120px;
}

.competition-podium .podium-block.gold .podium {
    background: #ead679;
    height: 0px;
}

.competition-podium .podium-block.gold .orders {
    text-align: center
}

.competition-podium .podium-block.gold .name {
    color: #856e4e;
    text-align: center
}

.competition-podium .podium-block.silver {
    color: #cbd9de;
    left: 10px;
}

.competition-podium .podium-block.silver .podium {
    background: #cbd9de;
    height: 0px;
}

.competition-podium .podium-block.silver .orders {
    text-align: center
}

.competition-podium .podium-block.silver .name {
    color: #856e4e;
    text-align: center
}

.podium {
    display: table;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.podium > * {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #4D4D4D;
    font-size: 1.5em;
}

@media only screen and (max-width: 770px) {

    .competition-podium {
        width: 350px;
        margin:0 auto;
    }

    .podium > * {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        color: #4D4D4D;
        font-size: 1.0em;
    }

    .competition-podium .podium-block {
        width: 100px;
        text-align: left;
        display: inline-block;
        position: absolute;
        bottom: 0;
    }

    .competition-podium .podium-block.gold {
        left: 125px;
    }

    .competition-podium .podium-block.silver {
        left: 25px;
    }

    .competition-podium .podium-block.bronze {
        left:225px;
    }


}

@media only screen and (max-width: 420px) {

    .competition-podium {
        width: 90%;

        margin:0 auto;
    }

    .podium > * {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        color: #4D4D4D;
        font-size: 1.0em;
    }

    .competition-podium .podium-block {
        width: 30%;
        text-align: left;
        display: inline-block;
        position: absolute;
        bottom: 0;
    }

    .competition-podium .podium-block.gold {
        left: 35%;
    }

    .competition-podium .podium-block.silver {
        left: 5%;
    }

    .competition-podium .podium-block.bronze {
        left: 65%;
    }


}
/* 탭 기능 관련 CSS */
.storeTab {
    width: 33.3333333333%;
    float:left;
    background: #ddd7c7;
    text-align: center;
    height:40px;
    line-height: 40px;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    list-style: none;
}
#storeTabWrapper li.selectedTab {background: #fff; border-bottom: 0px solid transparent;}
.storeTabContent {display: none}
.selectedContent {display: block;}
#storeTabWrapper {cursor: pointer; padding-left: 0; margin: 0; overflow: auto; width: 100%}
#storeTabWrapper li {
    border-bottom: 1px solid #cccccc;
}
#mkbTab {
    border-right:1px solid #cccccc;
    border-left:1px solid #cccccc;
}
#storeTabContentWrapper {clear: both;}