$bmOrangeColor: #ff6c00;
$bmBeigeColor: #f4ebdd;
$bmBorderColor: #cccccc;
$whiteColor: #ffffff;
$blackColor: #000000;
$bmMintColor: #1abcaa;
$mkbBackgroundColor: rgb(241, 241, 241);
$bmLightMintColor: rgb(207, 236, 238);



