


/* 메뉴 탭 관련 */

.menuTabContent {
  background: #fff;
}

/*폴더블메뉴*/
.menuTabGraph {
  width: 100%;
  padding-bottom: 100px;
  padding-top:100px;
}

.foldableLevel1 {
    background-color: #817c74;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-bottom: 1px solid #cccccc;
}

.foldableLevel1.active{
    background-color: black;
    clear:both;
}

.foldableLevel1 h6, p {
  padding:0;
  margin:0;
}

.foldableLevel1 p {
  font-size: 11px;
}

.foldableLevel2 {
    padding: 0;
    background-color: white;
    max-height: 0px;
    height: auto;
    transition: all 0.25s ease-in-out;
    overflow: hidden;
}

.foldableLevel2 .foldableLevel1 {
  background: #fff;
  color: black;
}

.foldableLevel2 .foldableLevel1.active {
  background: #fff;
  color: black;
}

.menuTabContent * {
  clear: both;
}




/* 업소상세 박스 */

@media screen and (max-width:768px){
  .storeDetailBox {
    display: none;
  }
  .tabAreaWrap {
    width: 100%;
  }
}

.storeDetailTable table {
  font-size: 11px;

}

.storeDetailHead{
  border: 1px solid #cccccc;
  padding:15px;
  font-size:11px;
  font-weight:bold;
  background: #fff;
}

.storeDetailTable {
  background: #fff;
}

.storeDetailTable {
  padding:10px;
  border-color: #cccccc;
  border-style: solid;
  border-width: 0px 1px 1px 1px;
}

.phoneFontColor{
  color: #ff4200;
  font-weight: bold;
}

.storeDetailTable tr {
  border-bottom: 10px solid transparent;
}

.storeDetailTableLeft {width:30%}
.storeDetailTableRight {width:70%}












/* 리뷰 탭 관련 */
.reviewTabContent {
  background: #fff;
}
.reviewCard {
  padding:15px;
  display: flex;
  align-items:flex-start;
  background: #fff;
}
.reviewCardPic {
  background-image: url("http://file.smartbaedal.com/usr/memphoto/ownerImg.png");
  background-repeat: no-repeat;
  background-size: contain;
  min-width:65px;
  height:65px;
  float: left;
}

.reviewCardContent {
  max-width: 580px;
  float:left;
}
.reviewCardBtm {
  font-size: 11px;
}
.reviewCardMid{
  clear: both;
}
.reviewCardTop>span{
  font-size: 11px;
  color:#8a8b8f;
}
.reviewCardStar{
  color:#ff6927;
}
.reviewCardId {
  font-size: 12px;
  color:#222;
}
.reviewCardDate {
  font-size: 11px;
  color:#8a8b8f;
}
.reviewCardBtm {
  clear: both;
  width: 100%;
}
/* 탭 기능 관련 CSS */
storeTab {
  width: 33.333%;
  float:left;
  background: #ddd7c7;
  text-align: center;
  height:40px;
  line-height: 40px;
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
  list-style: none;
}
.selectedTab {background: white;}
.storeTabContent {display: none}
.selectedContent {display: block;}
#storeTabWrapper {cursor: pointer; padding-left: 0; margin: 0; overflow: auto; width: 100%}
#storeTabContentWrapper {clear: both;}
